<!DOCTYPE html>
<html>
    <head>
        <title>Node.js Chat</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="static/css/style.css" />
        <link href="static/css/bootstrap.min.css" rel="stylesheet">

        <script src="socket.io/socket.io.js"></script>
        <script src="static/js/tinymce/tinymce.min.js"></script>
        <script src="static/js/jquery-3.2.1.min.js"></script>
        <script src="static/js/remote.js"></script>
        
        <script>tinymce.init({ selector:'textarea' });</script>
    </head>
    <body>
        <header>
          
        </header>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 hidden-sm-down"></div>
                    <div class="col-md-8 col-xs-12">
                        <div class="well">
                            <input id="view_hide" type="button" value="view_hide"/>
                            <input id="view_show" type="button" value="view_show"/>
                            <input id="view_reset" type="button" value="view_reset"/>
                        </div>
                        <div class="well">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose View</button>
                                <ul class="dropdown-menu">
                                    <li><a id="view_text">Text</a></li>
                                    <li><a id="view_song">Song</a></li>
                                    <li><a href="#">Video</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="well">
                            <input id="song_reset" type="button" value="song_reset"/>
                            <input id="song_set" type="button" value="song_set"/>
                        </div>
                        <div class="well">
                            <div class="btn-group">
                                <button id="slide_last" type="button" class="btn btn-primary">Last</button>
                                <button id="slide_next" type="button" class="btn btn-primary">Next</button>
                            </div>
                        </div>
                        <div class="well">
                            <div class="form-group">
                                <label for="comment">Message:</label>
                                <textarea class="form-control" rows="5" id="text"></textarea>
                            </div>
                            <button id="text_set" type="button" class="btn btn-primary">Send Text</button>
                            <button id="text_reset" type="button" class="btn btn-danger">Reset Text</button>
                        </div>
                     </div>
                    <div class="col-md-2 hidden-sm-down"></div>
                </div>
            </div>
        <footer>
        </footer>
        <script src="static/js/bootstrap.min.js"></script>
    </body>
</html>